<!DOCTYPE html>
<html>

<head>
  
    <title>PMS Profile</title>

    <!-- <link  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 rel="stylesheet" href=""> -->
    <% include ../partials/head %>
</head>

<body>
    <header>
        <% include ../partials/navbar %>
    </header>

    <!-- form filter -->
    <div class="container" style="margin-top: 20px">
        <h1 style="font-family:Georgia, 'Times New Roman', Times, serif">Profile</h1>
        <hr>

        <div class="container" style="margin-top: 20px ">
            <div class="card bg-light mb-3" style="font-family: initial;">
                <div class="card-header text-white bg-dark mb-3">

                    <h2 style="font-family:Georgia, 'Times New Roman', Times, serif">Hello, <%=user.firstname%>
                        <%=user.lastname%> !</h2>

                </div>
                <div class="card-body">

                    <form action="" method="POST">

                        <div class="form-group row">
                            <label for="email" class="col-sm-2 col-form-label">Email</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="email" name="email" placeholder="Email"
                                    
                                value="<%= data.email%>" disabled>
                            </div>
                        </div>

                        <div class="form-group row was-validated">
                            <label for="password" class="col-sm-2 col-form-label">Password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control is-invalid" id="password" name="password"
                                    placeholder="Masukan Ulang Password" required>
                            </div>
                        </div>

                        <div class="form-group row ">
                            <label for="firstname" class="col-sm-2 col-form-label">First Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="firstname" name="firstname"
                                    placeholder="First Name" value="<%= data.firstname%>">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="lastname" class="col-sm-2 col-form-label">Last Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="lastname" name="lastname"
                                    placeholder="Last Name" value="<%= data.lastname%>">
                            </div>
                        </div>

                        <fieldset class="form-group">
                            <div class="row">
                                <legend class="col-form-label col-sm-2 pt-0">Position</legend>
                                <div class="col-sm-10">

                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="position" id="manager"
                                            value="Manager" <%= data.position == 'Manager' ? 'checked' : '' %>>
                                        <label class="form-check-label" for="manager">
                                            Manager
                                        </label>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="position"
                                            id="softwareDeveloper" value="Software Developer"
                                            <%= data.position == 'Software Developer' ? 'checked' : '' %>>
                                        <label class="form-check-label" for="softwareDeveloper">
                                            Software Developer
                                        </label>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="position"
                                            id="qualityAssurance" value="Quality Assurance"
                                            <%= data.position == 'Quality Assurance' ? 'checked' : '' %> />
                                        <label class="form-check-label" for="qualityAssurance">
                                            Quality Assurance
                                        </label>
                                    </div>

                                </div>
                            </div>
                        </fieldset>

                        <fieldset class="form-group">
                            <div class="row">
                                <legend class="col-form-label col-sm-2 pt-0">Type Job</legend>
                                <div class="col-sm-10">

                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="typejob" id="fulltime"
                                            value="Fulltime" <%= data.typejob == 'Fulltime' ? 'checked' : '' %>>
                                        <label class="form-check-label" for="fulltime">
                                            Full Time
                                        </label>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="typejob" id="parttime"
                                            value="Parttime" <%= data.typejob == 'Parttime' ? 'checked' : '' %>>
                                        <label class="form-check-label" for="parttime">
                                            Part Time
                                        </label>
                                    </div>

                                </div>
                            </div>
                        </fieldset>
                        <br>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-success">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <% include ../partials/footer %>
</body>

</html>